.gradle
build/
!gradle/wrapper/gradle-wrapper.jar
!**/src/main/**/build/
!**/src/test/**/build/

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr
out/
!**/src/main/**/out/
!**/src/test/**/out/

### Game Options ###
/common/runs/client
!/common/runs/client/options.txt
/common/runs/server
!/common/runs/server/eula.txt
!/common/runs/server/server.properties