# eclipse
bin
*.launch
.settings
.metadata
.classpath
.project

# idea
out
*.ipr
*.iws
*.iml
.idea/*
!.idea/scopes

# gradle
build
.gradle

# other
eclipse
run
/common/runs/data/*
/common/runs/client/*
!/common/runs/client/options.txt
/common/runs/server/*
!/common/runs/server/server.properties
!/common/runs/server/eula.txt
/common/runs/gametest/*
/common/runs/gametestserver/*