# eclipse
bin
*.launch
.settings
.metadata
.classpath
.project

# idea
out
*.ipr
*.iws
*.iml
.idea/*
!.idea/scopes

# gradle
build
.gradle

# other
eclipse
*/common/runs/client/*
!*/common/runs/client/options.txt
*/common/runs/data/*
*/common/runs/server/*
!*/common/runs/server/eula.txt
!*/common/runs/server/server.properties

*/common/src/generated/
